/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-10-2014, 07:33:12 PM
    Author     : francisco
*/

/* =============================================================================
    Header
   ===========================================================================*/
header {
    position: relative;
    width: 100%;
    border-bottom: grey solid thin;
}

header div {
    max-width: 880px;
    margin: auto;
}

/* =============================================================================
    Body
   ===========================================================================*/
article {
    width: 100%;
}

#contenido {
    max-width: 880px;
    margin: auto;
    padding-bottom: 2%;
}

/* =============================================================================
    Footer
   ===========================================================================*/
footer {
    clear: both;
    width: 100%;
    text-align: center;
    //border-top: gainsboro solid thin;
}

footer div {
    max-width: 880px;
    margin: auto;
    padding: 25px 0;
}

/* =============================================================================
    Botones
   ===========================================================================*/
.boton {
    width: 150px;
    height: 25px;
}

.boton-ingresar {
    
}

.boton-aceptar {
    
}

.boton-rechazar {
    
}