{% extends '::login.html.twig' %}

{% block title %}Solicitar restablecer contraseña{% endblock %}
{% block id 'solicitar_restablecer_password' %}
    
{% block body %}
    <article>
        <section id="contenido">
            <div class="login-inicio-sesion">                
                <form action="{{ path('seguridad_solicitar_restablecer_password') }}" method="post">
                    <h3>Recupere su contraseña de oxigeno</h3>
                    <p>
                        <b>Paso 1:</b> Ingrese su dirección de correo electrónico, 
                        se le enviará un email con las intrucciones a seguir.
                    </p>
                    <input id="email" type="email" name="email" required="required" />
                    <input type="submit" name="restablecer-password" value="Restablecer contraseña" />
                    
                    <div class="div-error">
                        {% if msg %}
                            {{ msg }}
                        {% endif %}
                    </div>
                </form>
            </div>
        </section>
    </article>
{% endblock %}