{% extends '::base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <header>
        <h1><a>OXIGENO</a></h1>
        <ul>
            <li>##Nombre de usuario##</li>
            <li>##Ajustes de cuenta##</li>
            <li><a href="{{ path('login_logout') }}">##Cerrar sesion##</a></li>
        </ul>
        <nav>
            
        </nav>
    </header>
{% endblock %}