{% extends '::base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <header>
        <h1><a>OXIGENO</a></h1>
        <nav>
            
        </nav>
    </header>
{% endblock %}