<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style>
            p {
                padding-bottom: 10px;
            }
        </style>
    </head>
    
    <body>
        <p>
            Estimado {{ usuario }}:
        </p>
        <p>
            Para restablecer su contraseña en oxígeno visite el siguiente 
            enlace (o también puede copiar y pegar la URL en su navegador) el 
            cual será valido por {{ tiempo_validez }} por motivos de seguridad:
        </p>
        <p>
            <a href="{{ url }}">{{ url }}</a>
        </p>
        <p>
            Si ud. no solicitó restablecer su contraseña en oxígeno no deberá 
            realizar ninguna acción, su contraseña no será modificada.
        </p>
        <p>
            ##PIE DE PAGINA##
        </p>
    </body>
</html>
