{% extends '::login.html.twig' %}

{% block title %}Área de acceso{% endblock %}
{% block id 'login' %}

{% block body %}
    <article>
        <section id="contenido">
            <div>
                {% if error %}
                    <div>{{ error.message }}</div>
                {% endif %}
            </div>
            <div>
                <h3>Bienvenido al área de acceso</h3>
                <form action="{{ path('login_login_check') }}" method="post">
                    <fieldset>
                        <div>
                            <label for="username">Usuario:</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" />
                        </div>
                        <div>
                            <label for="password">Contraseña:</label>
                            <input type="password" id="password" name="_password" />
                        </div>
                        <div>
                            <input type="checkbox" id="mantenme-conectado"/>
                            <label for="mantenme-conectado">Mantenerme conectado</label>
                        </div>
                        <div>
                            <a href="{{ path('login_solicitar_restablecer_password') }}">¿Olvidó su contaseña?</a>
                        </div>
                        <div>
                            <input class="button_example" type="submit" name="login" value="Acceder" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
    </article>
{% endblock %}