{% extends '::login.html.twig' %}

{% block title %}Restablecer contrase単a{% endblock %}
{% block id 'restablecer_password' %}

{% block body %}
    <article>
        <section id="contenido">
            <div class="login-inicio-sesion">
                <form action="{{ path('login_restablecer_password', { 'key': key }) }}" method="post">
                    <p>Paso 2: Ingrese su nueva contrase単a.</p>
                    <h3>Recupere su contrase単a de oxigeno</h3>
                    <p>{{ msg }}</p>
                    
                    {% if formulario %}
                        {{ form_row(formulario._token) }}
                        {{ form_row(formulario.password) }}
                        <input type="submit" name="cambiar_password" value="Cambiar contrase単a" />
                    {% endif %}
                </form>
            </div>
        </section>
    </article>


{% endblock %}