{% extends '::login.html.twig' %}

{% block title %}Solicitar restablecer contraseña{% endblock %}
{% block id 'solicitar_restablecer_password' %}
    
{% block body %}
    <article>
        <section id="contenido">
            <div class="login-inicio-sesion">                
                <form action="{{ path('login_solicitar_restablecer_password') }}" method="post">
                    <h3>Recupere su contraseña de oxigeno</h3>
                    <p>Ingrese su correo electronico</p>
                    <input id="email" type="email" name="email" required="required" />
                    <input type="submit" name="restablecer-password" value="Restablecer contraseña" />
                </form>
                <div>
                    {% if msg %}
                        {{ msg }}
                    {% endif %}
                </div>
            </div>
        </section>
    </article>
{% endblock %}